<h2> Calculate on a daily basis with a Perl program </ h2>

Let's calculate on a daily basis using a Perl program.

<h3> Ask for property tax liquidation </ h3>

As an example, let's ask for the settlement of property tax.

Suppose you hand over the property on June 13th. Then, you can calculate the number of days from June 13th to December 31st of this delivery date and divide by the number of days in a year to obtain the ratio.





This program is <a href="https://perlbanjo.com/"> PerlBanjo </a> and you can try it right away.