<h2> Perl program that truncates the amount after the decimal point </h2>

Let's create a Perl program that truncates the amount after the decimal point. It can be used for rounding when dividing the amount.

For example, let's assume that the total amount of money borne by the buyer / seller is 9800 yen and the buyer's burden is "33/365". It is not divisible when divided.

In such a case, you can select either round up or round down after the decimal point, but this time, let's consider the case of rounding down.

<h3> Truncate the amount after the decimal point </h3>

To truncate the amount after the decimal point, use the <a href="https://perlzemi.com/blog/20080923122214.html"> int function</a>.

<pre>
use strict;
use warnings;

# Amount (886.027397260274)
my $price = 9800 * (33/365);

# Truncate the amount after the decimal point (886)
my $price_cut = int $price;

# Output result
print "$price_cut\n";
</pre>

You can copy and paste this program and try it immediately at <a href="https://perlbanjo.com/"> PerlBanjo</a>.