<h2> Perl program for rounding down less than 1000 yen </h2>

Let's create a Perl program that rounds down less than 1000 yen. This is useful when you want to cut off the standard taxable amount of less than 1000 yen before multiplying by the tax rate.

Suppose the first amount given is "198,223 yen". Let's round down less than 1000 yen to "198,000 yen".

<h3> How to truncate less than 1000 yen? </H3>

The process of truncating less than 1000 yen is considered as follows.

<ol>
  <li> Divide by 1000 </li>
  <li> Truncate the decimals </li>
  <li> Multiply by 1000 </li>
</ol>

<pre>
use strict;
use warnings;

# Amount of money
my $price = 198_223;

# Divide by 1000 (198.223)
my $price_div = $price / 1000;

# Extract the integer part (198)
my $price_div_cut = int $price_div;

Multiply # 1000 (198,000)
my $price_cut = $price_div_cut * 1000;

# Output result
print "$price_cut\n";
</pre>

<a href="https://perlzemi.com/blog/20080910122105.html"> Four arithmetic operations</a> and extracting the integer part <a href="https://perlzemi.com/blog/20080923122214.html" I am using the> int function</a>.

You can copy and paste this program and try it immediately at <a href="https://perlbanjo.com/"> PerlBanjo</a>.