<h2> Let's find the standard deviation </h2>

I will explain how to find the standard deviation using a Perl program.

<h3> Find the standard deviation </h3>

Consider the following array.

<pre>
my @array = (10, 50, 60, 65, 70, 90);
</pre>

<h4> Sample program to find the standard deviation of an array </h4>
Actually find the standard deviation from the array. The <a href="https://metacpan.org/pod/Statistics :: Lite"> Statistics :: Lite module</a> has a stddev function, but I won't use it in this example.
I will not explain how to calculate the standard deviation.

<pre>
use strict;
use warnings;

sub get_stddev {
  return sqrt(get_disp (@_));
}

sub get_disp {
  my ($array_ref) = @_;
  my $mean = get_avg ($array_ref);
  my $count = @$array_ref;
  my $sum = 0;
  
  for my $num (@$array_ref) {
      $sum + = (($num-$mean) ** 2);
  }
  return $sum / $count;
}

sub get_avg {
  my ($array_ref) = @_;
  my $count = @$array_ref;
  my $sum = 0;
  for my $num (@$array_ref) {
      $sum + = $num;
  }
  return $sum / $count;
}

my @array = (10, 50, 60, 65, 70, 90);
my $stddev = get_stddev (\ @array);
print "Standard deviation is". $Stddev. ". \ N";
</pre>

Execution result
<pre>
The standard deviation is 24.452334585202.
</pre>

You can copy and paste this program and try it immediately at <a href="https://perlbanjo.com"> PerlBanjo</a>.