<h2> Do you need special tools or libraries for data science? </H2>

It seems that many people misunderstand that data science requires specialized tools and libraries.

"Isn't Python numpy necessary for data science?"

Business data analysis learned in Perl demonstrates that data science is possible without the need for specialized tools or libraries, with examples.

The goal is to make the data as easy as possible for ordinary business users who are not statistical experts.

<h3> Use basic programming grammar for data analysis </h3>

As a data science, it is possible to calculate total, cumulative, average, maximum, minimum, probability, etc. with the basic grammar of a programming language.

It is also possible with the basic programming grammar that is often used in statistical processing such as sorting multiple fields, removing NaN values, and regression analysis.

Pivot table aggregation can also be represented using Perl's multidimensional data structures.

<h3> Data analysis uses SQL </h3>

SQL is also the mainstream method for simple data analysis.

Data entered from the Web or POS is stored in the database. First, get the necessary data with SQL, but at this time, creating statistical data is also a common technique.

It also explains how to run SQL from Perl to create statistical data.

Building a server for a data analysis platform that handles databases is actually the same as building a Web system development environment. Please refer to the following.

<ul>
  <li> <a href="https://en.ubuntu.perlzemi.com/"> Building a Web system development environment with Ubuntu + Perl</a> </li>
</ul>

<h3> Data visualization is a JavaScript graph library </h3>

If you only need a library, it's a field of data visualization. As a library in this area, one option is to use JavaScript, which runs on the front end of the web, is interactive, and has a rich graph library.

I will explain how to pass the result of data analysis performed on the server side to the client side and draw a graph using the JavaScript library.

We will also explain how to pass data from the server side to the client side using <a href="https://en.mojolicious.perlzemi.com/"> Mojolicious</a>.

I would like to explain in the future how to convert an image drawn on canbas using JavaScript to png, display it on the screen, and convert it to PDF for books.