<h2> Let's find the average value </h2>

I will explain how to calculate the average value using a Perl program.

Let's find the average value of the <h3> array. </h3>

Consider the following array.

<pre>
my @array = (8, 1, 4, 5, 7);
</pre>

<h4> Sample program to find the average value of an array </h4>
Actually calculate the average value from the array. The <a href="https://metacpan.org/pod/Statistics :: Lite"> Statistics :: Lite module</a> has a mean function, but we won't use it in this example.
The <a href="https://metacpan.org/pod/List :: Util"> List :: Util module</a> introduced so far does not have a function to calculate the average value.
The average value can be calculated by adding the values ​​of all the data and dividing by the number of data.

<pre>
use strict;
use warnings;

my @array = (8, 1, 4, 5, 7);
my $array_cnt = @array; #We are looking for the number of data.

my $sum = 0;
my $avg = 0;

for my $num (@array) {
    $sum + = $num;
}
$avg = $sum / $array_cnt;

print "$avg\n";
</pre>

Execution result
<pre>
Five
</pre>

All the data are added one by one, and finally divided by the number of data.
If the data for which the average value is to be calculated is an array, the number of data (number of elements) can be obtained by using "@array name".

<h3> Let's find the average value of a specific column from the tabular data. </h3>

Consider the following data.
<table>
  <thead>
    <tr> <th> name </th> <th> age </th> </tr>
  </thead>
  <tbody>
    <tr> <th> bob </th> <th> 9 </th> </tr>
    <tr> <th> tom </th> <th> 13 </th> </tr>
    <tr> <th> alice </th> <th> 11 </th> </tr>
  </tbody>
</table>

It is as follows when expressed by the reference of the array and the hash.
<pre>
$array_ref = [
  {name =>'bob', age => 9},
  {name =>'tom', age => 13},
  {name =>'alice', age => 11}
];;
</pre>

<h4> Sample program to calculate the average value of the age column </h4>
Data access has become a little more difficult due to the complexity of the referenced data,
The method of checking is the same as before.

<pre>
use strict;
use warnings;

my $array_ref = [
  {name =>'bob', age => 9},
  {name =>'tom', age => 13},
  {name =>'alice', age => 11}
];;

my $array_cnt = 0;
my $sum = 0;
my $avg = 0;

for my $info (@{$array_ref}) {
    $sum + = $info-> {'age'};
    $array_cnt + = 1;
}
$avg = $sum / $array_cnt;

print "$avg\n";
</pre>

Execution result
<pre>
11 11
</pre>

The process is the same as before except that the reference is dealt with.
The number of data is calculated by counting the amount of data added.
Since this is an array reference, the number of data can be dereferenced and calculated as follows.
<pre>
my $array_cnt = @{$array_cnt};
</pre>

You can copy and paste this program and try it immediately at <a href="https://perlbanjo.com"> PerlBanjo</a>.