<h2> Business data analysis learned with Perl </h2>

This is an introductory course that uses <a href="https://en.perlzemi.com/"> Perl</a> to analyze business data. Start with the simple calculations and statistics that are often needed in your business. We will also explain how to create a graph to visualize data and aggregate by SQL using <a href="https://en.mariadb.perlzemi.com/"> MariaDB</a>.

<img src = "/ images / chart / 20201129185816_1.png" />

This is the basic content to become a data scientist who can analyze business data.

It can also be used as an introduction to analyzing data acquired by IoT <a href="https://en.webapp.perlzemi.com/"> Web system</a> using software. There is a lot of misunderstanding that "AI analysis" is common in economic papers, and I don't make ambiguous expressions. Hahaha.

<h3> For first-time users </h3>

<ul>
  <li> <a href="/blog/20200504151304.html"> Do you need specialized tools or libraries for data science?</a> </li>
  <li> <a href="https://www.youtube.com/watch?v=6_bFmnQEqEA"> Video introduction</a> </li>
</ul>

<h3> Basics of statistics </h3>

<ul>
  <li> <a href="/blog/20200328191109.html"> Let's find the maximum value</a> </li>
  <li> <a href="/blog/20200531164942.html"> Let's find the minimum value</a> </li>
  <li> <a href="/blog/20200607185224.html"> Let's find the average value</a> </li>
  <li> <a href="/blog/20200613103925.html"> Let's find the median</a> </li>
  <li> <a href="/blog/20200906145759.html"> Let's find the standard deviation</a> </li>
</ul>

<h3> Data analysis using SQL </h3>

<ul>
  <li> <a href="/blog/20200926125437.html"> Let's find the maximum and minimum average values ​​with SQL</a> </li>
  <li> <a href="/blog/20200928022913.html"> Get the maximum and minimum averages from the database in Perl</a> </li>
  <li> <a href="/blog/20201004210949.html"> Let's aggregate monthly sales with SQL</a> </li>
</ul>

<h3> Amount calculation </h3>

<ul>
  <li> <a href="/blog/20200303101834.html"> Rounding down less than 1000 yen</a> </li>
  <li> <a href="/blog/20200302101834.html"> Rounding down less than 100 yen</a> </li>
  <li> <a href="/blog/20200305122658.html"> Truncate the amount after the decimal point</a> </li>
  <li> <a href="/blog/20200301101834.html"> Round up the amount after the decimal point</a> </li>
  <li> <a href="/blog/20200306095029.html"> Perform daily calculation</a> </li>
</ul>

<h3> Data visualization </h3>

<h4> Image data output </h4>

<ul>
  <li> <a href="/blog/20201129185816.html"> Let's make a bar graph with gnuplot</a> </li>
  <li> <a href="/blog/20210325002411.html"> Let's make a line graph with gnuplot</a> </li>
</ul>

<h3> Data analysis related course </h3>

This is a related course on data analysis.

<h4> Data analysis environment construction </h4>

There is an Ubuntu development environment construction site for building a data analysis environment. There is also a site where you can learn Linux.

<ul>
  <li> <a href="https://en.ubuntu.perlzemi.com/"> Ubuntu development environment construction</a> </li>
  <li> <a href="https://en.linux.perlzemi.com/"> Introduction to Linux Server Management</a> </li>
</ul>

<h4> Introduction to Perl Programming </h4>

An introductory site for Perl programming to help you program data analysis.

<ul>
  <li> <a href="https://en.perlzemi.com/"> Perl Seminar-Introduction to Perl Programming</a> </li>
</ul>

<h3>News</h3>

<ul>
  <li> <a rel="nofollow" href="/list.html">New Articles</a>
</ul>
